.footer {
  background-color: #0c0b09;
  color: #fff;
  font-size: 14px;
  padding: 50px 0;
  position: relative;
}

.footer .footer-info {
  margin-bottom: 30px;
}

.footer .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: var(--font-primary);
  color: #fff;
}

.footer .social-links a {
  font-size: 16px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  line-height: 1;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: var(--color-primary);
}

.footer-social-icon {
    width: 32px;
    height: 32px;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dc3545; /* Red background */
    color: #fff; /* White arrow icon */
    border: none;
    border-radius: 50%; /* Circular button */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effects */
  }

.scroll-to-top:hover {
    background-color: #b02a37; /* Darker red on hover */
    transform: scale(1.1); /* Slight enlargement on hover */
  }
  
  .scroll-to-top i {
    font-size: 18px;
  }